In [35]:
import pandas as pd 
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.model_selection import GridSearchCV

data = load_iris()
dir(data)

In [10]:
df = pd.DataFrame(data.data,columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
df['flower'] = data.target

In [14]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [16]:
df['flower'] = df.flower.apply(lambda x: data.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [19]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(['flower'],axis='columns'),df.flower)

In [21]:
x_train.head()

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
55                5.7               2.8                4.5               1.3
56                6.3               3.3                4.7               1.6
26                5.0               3.4                1.6               0.4
36                5.5               3.5                1.3               0.2
37                4.9               3.6                1.4               0.1

In [24]:
model = SVC(kernel='rbf',C=30,gamma='auto')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9210526315789473

In [27]:
cross_val_score(SVC(kernel='rbf',C=10,gamma='auto'),data.data,data.target,cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [28]:
cross_val_score(SVC(kernel='linear',C=10,gamma='auto'),data.data,data.target,cv=5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [34]:
kernal = ['rbf','linear']
C = [1,10,20]
avg_score = {}
for i in kernal:
    for j in C:
        cv_score = cross_val_score(SVC(kernel=i,C=j,gamma='auto'),data.data,data.target,cv=5)
        avg_score[i+'_'+str(j)] = np.average(cv_score)
avg_score

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666}

In [38]:
mdl = GridSearchCV(SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['linear','rbf']
},cv=5)

In [39]:
mdl.fit(data.data,data.target)
mdl.cv_results_

{'mean_fit_time': array([0.0008791 , 0.00120749, 0.00110044, 0.00120349, 0.0014122 ,
        0.00118461]),
 'std_fit_time': array([0.00044381, 0.00039673, 0.00020283, 0.00038847, 0.00048354,
        0.00036642]),
 'mean_score_time': array([0.00044389, 0.00100904, 0.0008482 , 0.00079727, 0.00059819,
        0.00100107]),
 'std_score_time': array([5.43651503e-04, 6.46829182e-04, 4.33300239e-04, 3.98655827e-04,
        4.88429936e-04, 3.66699866e-06]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'}],
 'split0_test_score': array([0.96666667, 0.96666667, 1.        , 0.96666667, 1.        ,
        0.96666667]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.9       , 0.96666667, 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.93333333,
        0.96666667]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.97333333, 0.98      , 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.03887301, 0.01632993, 0.0421637 ,
        0.03651484]),
 'rank_test_score': array([1, 1, 4, 1, 6, 5])}

In [41]:
r_df = pd.DataFrame(mdl.cv_results_)
r_df_fnl = r_df[['param_C','param_kernel','mean_test_score']]
r_df_fnl.head()

  param_C param_kernel  mean_test_score
0       1       linear         0.980000
1       1          rbf         0.980000
2      10       linear         0.973333
3      10          rbf         0.980000
4      20       linear         0.966667

In [42]:
dir(mdl)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [44]:
mdl.best_score_

0.9800000000000001

In [46]:
from sklearn.model_selection import RandomizedSearchCV

In [48]:
mdl2=RandomizedSearchCV(SVC(gamma='auto'),{
    'C':[1,10,20,30],
    'kernel':['linear','rbf']    
},cv=5,n_iter=2)
mdl.fit(data.data,data.target)
rdf = pd.DataFrame(mdl.cv_results_)
rdf_f = rdf[['param_C','param_kernel','mean_test_score']]
rdf_f

  param_C param_kernel  mean_test_score
0       1       linear         0.980000
1       1          rbf         0.980000
2      10       linear         0.973333
3      10          rbf         0.980000
4      20       linear         0.966667
5      20          rbf         0.966667

In [49]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier 
from sklearn.linear_model import LogisticRegression

In [55]:
# model_params  = {
#     'svm':{
#         'model':SVC(gamma='auto'),
#         'params':{
#             'C':[1,20,13,15],
#             'kernal':['rbf','linear']
#         }
        
#     },
#     'random_forest':{
#         'model':RandomForestClassifier(),
#         'params':{
#             'n_estimators':[1,5,10]
#         }
        
#     },
#     'logistic':{
#         'model':LogisticRegression(),
#         'params':{
#             'C':[1,5,10]
#         }
#     }
    
# }
model_params = {
    'svm': {
        'model': SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [60]:
scores = []
for mname,mparams in model_params.items():
    mdl = GridSearchCV(mparams['model'],mparams['params'],cv=5)
    mdl.fit(data.data,data.target)
    scores.append({
        'model':mname,
        'best_scores':mdl.best_score_,
        'best_params':mdl.best_params_
    })
fdf = pd.DataFrame(scores)
fdf

                 model  best_scores                best_params
0                  svm     0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest     0.960000        {'n_estimators': 1}
2  logistic_regression     0.966667                   {'C': 5}